.blog__card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 800px;
	margin-bottom: 2rem;
	border-radius: 8px;
}

.blog__card:hover {
	background-color: var(--bg-color-alt);
}

.blog__card:hover .blog__card-title {
	color: var(--primary-color);
}

.blog__card:hover .blog__card-img {
	opacity: 0.8;
	scale: 1.03;
}

.blog__card-img-wrapper {
	grid-column-start: 1;
	grid-column-end: 2;
	overflow: hidden;
	border-radius: 10px;
	max-height: 200px;
}

.blog__card-img {
	cursor: pointer;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
	transition: all 0.3s var(--transition);
}

.blog__card-content {
	margin-left: 1rem;
	padding: 1rem;
}

.blog__card-title {
	cursor: pointer;
	font-size: var(--h3-font-size);
	color: var(--title-color);
	font-weight: 700;
	hyphens: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	word-break: break-all;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	transition: all 0.3s var(--transition);
}

.blog__card-desc {
	font-size: var(--small-font-size);
	color: var(--text-color);
	margin-block: 1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.blog__card-author {
	display: flex;
	align-items: flex-end;
	font-weight: 500;
}

.author__name {
	font-size: var(--small-font-size);
	color: var(--text-color);
}

.blog__card-author span {
	font-size: var(--larger-font-size);
	color: var(--primary-color);
}

.date {
	font-size: var(--tiny-font-size);
	color: var(--text-color);
	text-transform: uppercase;
}

@media screen and (max-width: 600px) {
	.blog__card {
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.blog__card-content {
		padding-inline: 0.2rem;
	}
}
